@using MVCDemo.models
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    @{ var student = ViewBag.Student as List<Student>;
    }
    <div>
        name:@student[0].Name email:@student[0].Email class:@student[0].Class
    </div>
    <div>
        name:@student[1].Name email:@student[1].Email class:@student[1].Class
    </div>
    <div>
        name:@student[2].Name email:@student[2].Email class:@student[2].Class
    </div>
    <div>
        name:@student[3].Name email:@student[3].Email class:@student[3].Class
    </div>
    <div>
        name:@student[4].Name email:@student[4].Email class:@student[4].Class
    </div>

</body>
</html>
